body{
    margin: 0;
}
#first-heading{
    font-family: 'Bree Serif', serif;
    font-size: 85px;   
}
#mission-heading{
    color: salmon;
    font-size: 85px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.first-section{
    display: flex;
    margin: 100px;
}
.first-heading-div{
    border-left: 6px solid;
    border-color: rgb(151, 21, 7);
    padding: 7px;
    display: inline-block;
    line-height: 15px;
    
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 85%;
    padding-left: 45px;
}
.half-width p{
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}
#first-anchor{
     text-decoration: none;
     background-color:rgb(151, 21, 7);
     font-weight: 700;
     padding: 15px 25px;
     color: white;
     border-radius: 10px;
}
.second-section h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Secular One', sans-serif;
    font-weight: 700;
}
#span-color{
    color: salmon;
}
.container-area{
    display: flex;
    font-family: 'Secular One', sans-serif;
}
.container-item{
    width: 500px;
    height: 300px;
    margin-left: 100px;
    margin-right: 3%;
    padding-left: 20px;
}
.container-item img{
    width: 50%;
}
#mission-div{
    background-color: rgb(218, 238, 238);
    border-radius: 10px;
}
#vission-div{
    background-color: rgb(230, 222, 219);
    border-radius: 10px;
}
#goals-div{
    background-color: rgb(230, 222, 219);
    border-radius: 10px;
    padding-bottom: 17px;
}
.third-section{
    display: flex;
    font-family: 'Secular One', sans-serif;
    background-image: url(images1/dream-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    margin-right: 150px;
    padding-top: 100px;
    margin-left: 20px;
}
.third-section-area{
    width: 50%;
}
.third-section-area img{
    width: 70%;
    margin-left: 100px;
}
.third-section-area h1{
    font-size: 50px;
    line-height: 15px;
}
.third-section-area p{
    font-size: 25px;
}
#develop-padding{
    padding-top: 30px;
}
.anchor{
    text-decoration: none;
    background-color:rgb(151, 21, 7);
    font-weight: 700;
    padding: 15px 25px;
    color: white;
    border-radius: 10px;
}
.fourth-section{
    display: flex;
    margin-left: 100px;
    padding-top: 150px;
    font-family: 'Secular One', sans-serif;
    
}
.fourth-container{
    width: 50%;
}
.fourth-container img{
    width: 60%;
    padding-left: 100px;
}
.fourth-container h1{
    font-size: 70px;
    line-height: 15px;
}
.fourth-container p{
    font-size: 25px;
}
.corona-section{
    margin-top: 100px;
    font-family: 'Secular One', sans-serif;
}
.corona-section h1{
    text-align: center;
    font-size: 70px;
}
#about-corona{
    color: salmon;
}
.corona-area{
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 250px;
}
.corona-item{
    width: 50%;
}
.corona-item img{
    width: 90%;
    height: 550px;
}
.corona-item h1{
     line-height: 15px;
}
#corona-color{
     color: salmon;
}
.corona-item p{
    font-size: 25px;
    padding-left: 40px;
}
#app-features-margin{
    margin-left: 40px;
}
.footer-area{
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 150px;
}
.footer-area h1{
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 40px;
    font-family:'Dancing Script', cursive;
}
.footer-area span{
    color: salmon;
}
.footer-area p{
    color: rgb(34, 57, 121);
    text-align: center;
    font-family: 'Secular One', sans-serif;
}



